/*------------------*/
/*BASIC SET UP*/
/*------------------*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}
html {
	background-color: #fff;
	color: #2a2a2a;
	font-family: 'Montserrat', sans-serif;
	font-size: 19px;
	font-weight: 400;
	text-rendering: optimizeLegibility;
}

/*------------------*/
/*REUSABLE COMPONENTS*/
/*------------------*/

.row {
	max-width: 1140px;
	margin: 0 auto;
}

p {
	text-align: center;
	font-size: 95%;
	letter-spacing: 1px;
	word-spacing: 2px;
}
ion-icon {
	font-size: 200%;
	padding: 10px 10px;
}
.box {
	padding: 1%;
}
/*------------------*/
/*HEADINGS*/
/*------------------*/

h1 {
	color: rgba(255, 255, 255, 0.83);
	font-size: 170%;
	font-weight: 500;
	letter-spacing: 0.2px;
	word-spacing: 2px;
}

h3 {
	font-size: 90%;
	text-align: center;
	word-spacing: 4px;
	letter-spacing: 1px;
	margin-bottom: 30px;
	font-weight: 600;
}

q {
	font-size: 110%;
	
}



/*------------------*/
/*BUTTONS*/
/*------------------*/

.btn:link,
.btn:visited {
	display: inline-block;
	padding: 10px 40px;
	margin-left: 20px;
	margin-right: 15px;
	margin-top: 10px;
	text-decoration: none;
	font-weight: 600;
	border-radius: 200px;
	color: rgb(134, 8, 9);
	background-color: rgba(245, 245, 245, 0.78);
	transition: background-color 0.3s, color 0.3s;
}
.btn:hover,
.btn:active {
	background-color: rgba(202, 185, 139, 0.74);
	color: rgba(255, 255, 255, 0.74);
}

/*------------------*/
/*HEADER*/
/*------------------*/

header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.08)), url(img/grass.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
	background-attachment: fixed;
	
}

.main-quote-box {
	position: absolute;
	width: 1140;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.logo {
	height: 100px;
	width: auto;
	float:left;
	margin: 20px 10px;
	border-radius: 58%;
	padding-left: 20px;
	padding-top: 10px;
}
.main-nav {
	float: right;
	list-style: none;
}
.main-nav li {
	display: inline-block;
	margin-left: 40px;
	margin-top: 40px;
}
.main-nav li a:link,
.main-nav li a:visited {
	padding: 4px 0;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 90%;
	border-bottom: 2px solid transparent;
	transition: border-bottom 0.3s;
}
.main-nav li a:hover,
.main-nav li a:active {
	border-bottom: 2px solid rgba(245, 245, 245, 0.78);
}

/*------------------*/
/*SECTION FEATURES*/
/*------------------*/

.section-features {
	margin-top: 70px;
	margin-bottom: 20px;
}
.section-features .line {
	margin-bottom: 20px
}

.author {
	font-size: 70%;
	text-align: right;
	margin-top: 10px;
	margin-right: 70px;
	margin-bottom: 30px;
}
.line {
	display: block;
	height: 2px;
	background-color: rgb(134, 8, 9);
	width: 200px;
	margin: 0 auto;
}
.quote-h {
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
	letter-spacing: 0.5px;
}

/*------------------*/
/*GALLERY*/
/*------------------*/

.section-gallery {
}
.gallery-showcase {
	list-style: none;
	width: 100%;
}
.gallery-showcase li {
	display: block;
	float: left;
	width: 25%;
}
.gallery-photo {
	width: 100%;
	overflow: hidden;
	background-color: #000;
}
.gallery-photo img {
	opacity: 0.7;
	width: 100%;
	height: auto;
	transform: scale(1.15);
	transition: transform 0.5s, opacity 0.5s;
}

.gallery-photo img:hover {
	opacity: 1;
	transform: scale(1.04);
}

/*------------------*/
/*FOOTER*/
/*------------------*/

footer {

	background-color: rgba(11, 4, 4, 0.78);
}
.footer-nav {
	list-style: none;
	float: left;
}
.social-links {
	list-style: none;
	float: right;
}
.footer-nav li,
.social-links li {
	display: inline-block;
	margin-right: 20px;
}
.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
	text-decoration: none;
	border: 0;
	color: rgba(202, 185, 139);
}
.copyrights {
	color: rgba(202, 185, 139);
}