* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}
html {
	background-color: #fff;
	color: #2a2a2a;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	font-weight: 400;
	text-rendering: optimizeLegibility;
}
.row {
	max-width: 1140px;
	margin: 0 auto;
}
header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.08)), url(img/grass.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
	
}
h1 {
	color: rgba(255, 255, 255, 0.83);
}
.main-quote-box {
	position: absolute;
	width: 1140;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
q {
	color:#fff;
	font-size: 150%;
	font-weight: 200;
	letter-spacing: 1px;
	word-spacing: 5px;
}
.quote-author {
	color: #fff;
	letter-spacing: 1px;
	font-size: 110%;
}
